/* Mobile-first */
.faqTextContainer {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;

    .faqText {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 2rem;
    
        h3 {
            color: #F07232;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    
        h2 {
            font-size: 3rem;
            font-family: 'Cormorant', serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 3rem;
            line-height: 1.4;
            letter-spacing: 0.2rem;
        }
    
        h4 {
            line-height: 2;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6;
            max-width: 90%;
        }
    }
}