/* Mobile-first */
.portfolio {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #212121;

    .portfolioTitle {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5rem 2rem 0 2rem;

        h3 {
            color: #F07232;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 5rem;
        }
    
        h2 {
            font-size: 3rem;
            font-family: 'Cormant', serif;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 3rem;
            line-height: 1.4;
            max-width: 50%;
            letter-spacing: 0.2rem;
        }
    }

    .portfolioText {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 4rem;
        gap: 3rem;
        padding: 0 2rem 5rem 2rem;
        font-size: 1.8rem;

        .lastP {
            font-weight: 600;
            margin-bottom: 5rem;
        }
    } 
}


/* Desktop */
@media (min-width: 768px) {
    
}