.buttonContainer {
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
}

.button {
    position: relative;
    height: 6rem;
    margin: 3rem;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    z-index: 1002;
}
  
.bar {
    position: absolute;
    height: 0.4rem;
    width: 3rem;
    border: none;
    border-radius: 5rem;
    background-color: #d7652b;
    cursor: pointer;
}


/* Desktop */
@media (min-width: 768px) {
    .button {
        display: none;
    }
}