/* Mobile-first */
.successMsgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1010;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;

    .successMsgContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6rem;
        z-index: 1000;
        position: absolute;

        p {
            text-align: center;
        }
    }
}

.successMsgContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; 
    z-index: 1;
}


/* Desktop */
@media (min-width: 768px) {
    .successMsgContainer {
        top: 0;
        left: 0;
    
        .successMsgContent {    
            p {
                font-size: 1.8rem;
            }
        }
    }
}