/* Mobile-first */
.firstFaqContainer {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;

    .firstFaqText {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2rem 0 0 2rem;
    
        h4 {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6;
            max-width: 90%;
        }
    }

    .faq {
        margin: 2rem 3rem 2rem 2rem;
        padding: 2rem 2rem;
        background: #F07232;

        .faqQuestion {
            position: relative;
            font-size: 2rem;
            padding-right: 8rem;
            transition: all 0.4s ease;
            text-transform: uppercase;
            font-weight: 600;
        }

        .faqQuestion::after {
            content: "+";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 3rem;
            height: 3rem;
            transition: all 0.2s ease;
        }

        .faqAnswer {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.2s ease;
            line-height: 1.6;
        }
    }

    .faq.open {
        margin-bottom: 1rem;

        .faqQuestion {
            margin-bottom: 1rem;
        }

        .faqQuestion::after {
            content: "-";
        }

        .faqAnswer {
            max-height: 10rem;
            opacity: 1;
        }
    }
}


/* Desktop */
@media (min-width: 768px) {
    .firstFaqContainer {
        .firstFaqText {
            h4 {
                font-size: 2rem;
                max-width: 60%;
            }
        }
    
        .faq {
            width: 50%;
        }
    }
}
  