/* Mobile-first */
.historyContainer {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5rem 2rem 5rem 2rem;

    .historyText {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;

        h3 {
            color: #F07232;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    
        h2 {
            font-size: 3rem;
            font-family: 'Cormorant', serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 3rem;
            line-height: 1.4;
            max-width: 70%;
            letter-spacing: 0.2rem;
        }

        h4 {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6;
            margin-bottom: 5rem;
        }
    }

    .historyCeo {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;

        h3 {
            color: #F07232;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Cormorant', serif;
            letter-spacing: 0.2rem;
        }
    
        h2 {
            font-size: 2.8rem;
            font-family: 'Cormorant', serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 3rem;
            line-height: 1.4;
            letter-spacing: 0.2rem;
        }

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}


/* Desktop */
@media (min-width: 768px) {
    
}