/* Mobile-first */
.latestContainer {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5rem 2rem 5rem 2rem;
    background-color: #212121;

    .latestTitle {
        display: flex;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;

        h3 {
            color: #F07232;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    
        h2 {
            font-size: 3rem;
            font-family: 'Cormorant', serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 3rem;
            line-height: 1.4;
            letter-spacing: 0.2rem;
        }
    
        h4 {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.6;
        }
    }

    .blogPost {
        margin: 5rem 0 5rem 0;
        border: 1px solid #4c4c4c;

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }

        .blogPostText {
            padding: 2rem;

            h3 {
                color: #F07232;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 400;
                margin: 2rem 0 2rem 0;
                max-width: 70%;
            }

            p {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.6;
                margin-bottom: 5rem;
            }

            .created {
                display: flex;
                justify-content: flex-end;
                font-size: 1.3rem;
                margin-bottom: -1rem;
            }
        }
    }
}


/* Desktop */
@media (min-width: 768px) {
    .latestContainer {
        padding: 5rem 2rem 10rem 2rem;

        .latestTitle {
            h3 {
                font-size: 2rem;
            }
        
            h2 {
                font-size: 3.3rem;
            }
        
            h4 {
                font-size: 2rem;
                max-width: 50%;
            }
        }
    
        .blogPost {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            img {
                height: 50rem;
                max-width: 100%;
            }
    
            .blogPostText {
                padding: 0 0 0 2rem;

                h3 {
                    margin: 2rem 0 2rem 0;
                    font-size: 2rem;
                }
    
                p {
                    font-size: 2rem;
                    max-width: 80%;
                }
    
                .created {
                    justify-content: flex-start;
                    font-size: 1.5rem;
                    margin-top: 25rem;
                }
            }
        }
    }
}