/* Mobile-first */
.swiperSlide {
    height: 30%;
    width: 90%;
    transition: transform 0.3s ease-in-out;
    color: white;
    padding: 2rem;
    border-radius: 10px;

    .slideContent {
        background-color: #99999933;
        padding: 2rem;
        height: 37rem;

        .rating {
            margin-bottom: 4rem;
            color: #DCB036;
        }

        .reviewText {
            line-height: 1.6;
        }

        .reviewerName {
            color: #F07232;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Cormorant', serif;
            margin: 4rem 0 0.5rem 0;
            letter-spacing: 0.2rem;
        }
    }
}

.swiper-slide-active {
    transform: scale(1.2);
    background: #222;
}


/* Desktop */
@media (min-width: 768px) {
    .swiperSlide {
        width: 50%;

        .slideContent {
            height: 35rem;

            .rating {
                font-size: 2rem;
            }
    
            .reviewText {
                max-width: 75%;
            }
    
            .reviewerName {
                color: #F07232;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 600;
                font-family: 'Cormorant', serif;
                margin-top: 8rem;
            }
        }
    }
}